@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-small {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}


/* navigation */
.navigation-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}
.navigation-right-side {
    display: flex;
    align-items: center;
}
.navigation-ul {
    display: flex;
    margin-right: 30px;
}
.navigation-ul li {
    margin-left: 20px;
}
.navigation-ul li a {
    color: #000;
    transition: 0.3s;
}
.navigation-ul li a:hover {
    color: #000;
    color: #1aa7ec;
}
.navigation-ul .active-li a {
    color: #1aa7ec;
}


.navigation-button {
    background-color: #1aa7ec;
    padding: 10px 20px;
    border: none;
    border-radius: 20px 0 20px 0;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}
.navigation-button:hover {
    background-color: #314047;
}


/* herosection */
.heromain-section {
    background-image: url('./images/main-section.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 100px 0 0 0 ;
    position: relative;
}
.heromain-overlay-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.4);
    border-radius: 100px 0 0 0 ;
    color: #fff;
    padding: 0 50px;
}
.heromain-overlay-right h1{
    font-size: 60px;
    font-weight: 00;
}
.heromain-overlay-right p{
    margin-top: 20px;
    max-width: 400px;
    line-height: 26px;
}


/* services section */
.services-section {
    margin: 100px 0;
}
.services-section .container {
    padding: 0 60px;
}
.services-section  h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
}
.services-section  p {
    margin-top: 20px;
    max-width: 400px;
    line-height: 26px;
    color: #777;
}
.services-blocks {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.service-block {
    box-shadow: 0 0 9px #ddd;
    height: 600px;
    width: 300px;
    border-radius: 60px 0 60px 0;
    position: relative;
    text-align: center;
    padding: 22px;
    padding-top: 40px;
}
.num {
   position: absolute;
   top: 0;
   right: 0;
   padding: 10px 15px;
   background-color: #1aa7ec; 
   border-radius: 0 0 0 20px;
   color: #fff;
   cursor: pointer;
}

.services-block img {
    width: 100px;
}

.services-block-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: left;
}
.services-block-content h2 {
    font-size: 20px;
    font-weight: bold;
}
.services-ul {
    margin-top: 20px;
}
.services-ul li{
    margin-bottom: 15px;
    color: #777;
}
.services-ul li a {
    color: #777;
    transition: 0.3s ease;
}
.services-ul li a:hover {
    color: #1aa7ec;
    margin-left: 10px;
}
.services-ul li::before {
    content: "\2022";
    color: #1aa7ec;
    display: inline-block; 
    font-weight: bold;
    margin-right: 10px;
}
.services-block-btn {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #1aa7ec;
    border-radius: 20px 0 20px 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.services-block-btn:hover {
    background-color: #314047;
}


/* contact section */
.contact-section {
    background-image: url('./images/main-section.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: #fff;
    position: relative;
}
.contact-overlay {
    position: absolute;
    width: 100%;
    right: 0;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 48%, rgba(255,171,0,1) 100%);
    height: 100%;
}
    
.contact-section .container {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
}
.contact-section h2 {
    font-size: 40px;
    font-weight: 400;
}
.contact-section p {
    margin-top: 20px;
    line-height: 30px;
}
.contact-form-inputs-block {
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}
.contact-input::placeholder {
    color: #fff;
}
textarea::placeholder {
    color: #fff;
}
.contact-input {
    border: none;
    border-bottom: 2px #fff solid;
    background: transparent;
    outline: none;
    width: 280px;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
}
textarea {
    width: 100%;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    height: 100px;
    font-size: 20px;
    outline: none;
    color: #fff;
    padding: 5px 10px;
}
form {
    z-index: 10;
}
.contact-send-btn {
    margin-top: 10px;
    width: 100px;
    border: none;
    padding: 10px;
    background-color: #1aa7ec;
    border-radius: 20px 0 20px 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact-send-btn:hover {
    background-color: #314047;
}

/* footer section */
.footer-section {
    background-color: #324852;
    padding: 20px 0;
}
.footer-section-content-all {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer-block {
    display: inline-block;
    width: 200px;
    margin-bottom: 30px;
}
.footer-block h3{
    color: #777;
    border-bottom: 2px solid #777;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.footer-block ul li{
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.footer-block ul li:hover {
    margin-left: 10px;
}

.footer-section-row {
    display: flex;
    flex-direction: column;
}
.footer-section-big-block {
    margin-bottom: 30px;
    width: 500px;
}
.footer-section-big-block h3 {
    color: #777;
    border-bottom: 2px solid #777;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.footer-big-block-content h4 {
    color: #1aa7ec;
    margin: 10px 0;
}
.footer-big-block-content ul {
    margin-left: 15px;
}
.footer-big-block-content ul li {
    color: #fff;
    margin-bottom: 10px;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 10px;
}
.footer-big-block-content ul li:hover {
    transform: translateX(10px);
}
.footer-section-flex {
    display: flex;
    justify-content: space-between;
}

.footer-section-second {
    background-color: #314047;
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    border-radius: 20px 0 20px 0;
}


/* slider */
.slick-slide { height: 600px ; }

.slick-dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    top: 250px;
    left: 20px;
}

